
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
    
}


.headimage{
    height: 80vh;
    width: 100%;
    background-image: url(../img/download.jpg);
	background-size: cover;
    margin-bottom: 40px;
}





/*Body*/

.card{
    background-color: aqua;
}




