*{
    box-sizing:border-box;
    margin:0px; 
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    
}

body{
    background-color: #F2F2F2;
    color: blue;
}


nav ul li a{
    text-decoration: none;
   
}

main{
    padding: 40px;
}

.heading{
    display:flex;
    flex-direction: row;
    flex: 1 1 ;
    align-items: center;
    justify-content: center;
}

.rightheading img{
    object-fit: contain;
    height: 100%;
    
    width: 50%;
}